body {
  background: #000;
}

.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-toggler-icon {
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  color: red;
}

.navbar a {
  color: #fff800;
  border: 1px solid #fff800;
  margin: 0px 5px;
}

.navbar a:hover {
  background-color: #f9ec00;
  color: black;
  border: 1px solid #fff;
  transition: 1s all;

}

.alert span {
  color: cyan;
  /* text-decoration: underline; */
  letter-spacing: 2px;
}

.nav-link active {
  color: #fff800;
}

/* ************************************************** */

body .hero_bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  color: rgb(4, 252, 252);
}

.hero_bg h1 {
  font-size: 6rem;
  opacity: 1;
}

.hero_bg h2 .name {
  font-size: 4rem;
}

/* 1st transition */
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* 2nd animation */

.content h2 {
  color: rgb(4, 252, 252);
  font-size: 2rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px rgb(4, 252, 252);
}

.content h2:nth-child(2) {
  color: #cff900;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

/* 3rd animation */

/* ************************************************** */
body .project-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(0, 255, 195); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

.waviy {
  padding: 25px;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}

/* ************************************************** */

body .about-bg {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  overflow-x: hidden;
  width: 100%;
}

.contact-wrapper {
  padding: 10px 65px;
}

.contact-wrapper .card {
  border-radius: 25px;
  border: 2.5px solid aliceblue;
  padding: 15px;
  background-color: #000;
  color: aliceblue;

}
.contact-wrapper .card:hover {
  cursor: pointer;
  padding: 10px;
  transition: 1s all;
  box-shadow: 0px 0px 0px 2px 8px #6f7979;
}

/* #0dcaf0 */
/* ************************************************** */

body .design-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 157, 0); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

/* ************************************************** */

body .contact-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  /* background-color: rgb(255, 255, 0); */


}

.contact-sec {
  box-shadow: 0px 2px 3px 0px -8px yellow inset;
}

/* ************************************************** */

body .experience-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-x: hidden;

}
.experience-bg  .exp-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

}
.typing-demo h1{
  text-align: center;
  width: 52ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2rem;
  color: aliceblue;

}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.exp-hero{
  
  padding: 45px 0px;
}
.experience-bg .card{
  margin: 65px;
  text-align: start;
  border: 1px solid #f9ec00;
}
.card-img-overlay{
  line-height: 30px;
  padding: 25px;
}
.website-link .badge{
  padding: 10px;
}
.website-link .badge a{
  text-decoration: none;
  font-size: 15px;
}
/* ************************************************** */
/* footer */
footer {
  background-color: #f9ec00;
  width: 100%;
}

footer .footer-content {
font-weight: 400;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  padding: 10px;
}
footer .email a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
footer .email a:hover{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* responsive queries */
@media(max-width:320px){
 .navbar a {
    color: #fff800;
    border: none !important;
    margin: 0px 5px;
  }
  body .hero_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: rgb(4, 252, 252);
  }
  
  .hero_bg h1 {
    font-size: 4rem;
    opacity: 1;
  }
  
  .hero_bg h2 .name {
    font-size: 3.5rem;
  }
  .hero_bg h2  {
padding: 25px;
  }
}

@media(max-width:475px){
  .navbar a {
     color: #fff800;
     border: none !important;
     margin: 0px 5px;
   }
   body .hero_bg {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-image: url(bg.svg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     width: 100%;
     overflow-x: hidden;
     color: rgb(4, 252, 252);
   }
   
   .hero_bg h1 {
     font-size: 4rem;
     opacity: 1;
   }
   
   .hero_bg h2 .name {
     font-size: 3.5rem;
   }
   .hero_bg h2  {
 padding: 25px;
   }
   .card-img-overlay {
    line-height: 30px !important;
      }
 }

 @media(max-width:768px){
  .navbar a {
     color: #fff800;
     border: none !important;
     margin: 0px 5px;
   }
   body .hero_bg {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-image: url(bg.svg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     width: 100%;
     overflow-x: hidden;
     color: rgb(4, 252, 252);
   }
   
   .hero_bg h1 {
     font-size: 4rem;
     opacity: 1;
   }
   
   .hero_bg h2 .name {
     font-size: 3.5rem;
   }
   .hero_bg h2  {
 padding: 25px;
   }
   .exp-hero-img img{
    display: none;
   }
   .typing-demo h1{
    text-align: center;
    width: 57ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1rem;
    color: aliceblue;
  
  }

  .experience-bg .card{
    margin: 10px;
    background-image: url("exp-crd-bg-tab.svg") !important;
    height: 75vh;
  }
  .experience-bg .card img{
    display: none;
  }
  .card-img-overlay {
line-height: 45px;
  }
  
 }